.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  alignment: center;
}

.item{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo{
  background-image: url("./assets/Mwplogo.png");
  width: 150px;
  height: 150px;
  position: center;
  background-size: cover;

}
h3{
  text-align: center;
}